﻿@model  WM_API.Product

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { id = "form-addNew" }))
{
    @Html.ValidationSummary(true)

    <div class="modal-body">
        <div class="form-group">
            <div class="label" style="color:black">Name:</div>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger required" })
        </div>

        <div class="form-group">
            <div class="label" style="color:black">Description:</div>
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger required" })
        </div>

        <div class="form-group">
            <div class="label" style="color:black">Category:</div>
            @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger required" })
        </div>

        <div class="form-group">
            <div class="label" style="color:black">Manufacturer:</div>
            @Html.TextBoxFor(m => m.Manufacturer, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "text-danger required" })
        </div>

        <div class="form-group">
            <div class="label" style="color:black">Supplier:</div>
            @Html.TextBoxFor(m => m.Supplier, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Supplier, "", new { @class = "text-danger required" })
        </div>
        
        <div class="form-group">
            <div class="label" style="color:black">Price:</div>
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger required" })
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </div>
}