﻿@model  WM_API.Product

@using (Html.BeginForm("DeleteConfirmed", "Products", FormMethod.Post, new { id = "form-deleteProduct" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Id)

    <div class="modal-body">
        <div class="form-group">
            <div>Product Name:</div>
            <b>@Html.DisplayFor(m => m.Name, new { @class = "form-control" })</b>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Yes</button>
            <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
        </div>
    </div>
}
