﻿@model  WM_API.Product

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { id = "form-updateProduct" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Id)

<div class="modal-body">
    <div class="form-group">
        <div class="label" style="color:black">Name:</div>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger required" })
    </div>

    <div class="form-group" style="color:black">
        <div class="label">Description:</div>
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger required" })
    </div>

    <div class="form-group" style="color:black">
        <div class="label">Category:</div>
        @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger required" })
    </div>

    <div class="form-group" style="color:black">
        <div class="label">Manufacturer:</div>
        @Html.TextBoxFor(m => m.Manufacturer, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "text-danger required" })
    </div>

    <div class="form-group">
        <div class="label">Supplier:</div>
        @Html.TextBoxFor(m => m.Manufacturer, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "text-danger required" })
    </div>

    <div class="form-group" style="color:black">
        <div class="label">Price:</div>
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger required" })
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</div>
}