﻿@model List<WM_API.Product>

<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#newProductModal">Add New Product</button>
<!--Add New Product modal-->
<div class="modal inmodal" id="newProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-building modal-icon"></i>
                <h4 class="modal-title">Add New Product</h4>
            </div>
            <div id="modalContentToLoad"></div>
        </div>
    </div>
</div>
<!------------------------->
<!--Update Product modal-->
<div class="modal inmodal" id="updateProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-building modal-icon"></i>
                <h4 class="modal-title">Update Product</h4>
            </div>
            <div id="modalContentToLoadUpdate"></div>
        </div>
    </div>
</div>
<!------------------------->
<!--Delete Product modal-->
<div class="modal inmodal" id="deleteProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-trash modal-icon"></i>
                <h4 class="modal-title">Are you sure you want to delete selected product?</h4>
            </div>
            <div id="modalContentToLoadDelete"></div>
        </div>
    </div>
</div>
<!------------------------->
<!--Product Details modal-->
<div class="modal inmodal" id="productDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-building modal-icon"></i>
                <h4 class="modal-title">Product Details</h4>
            </div>
            <div id="modalContentToLoadDetails"></div>
        </div>
    </div>
</div>
<!------------------------->

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Manufacturer</th>
            <th>Supplier</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="gradeA">
                <td>
                    <button class="btn btn-primary btn-circle" type="button" data-toggle="modal" rel="@item.Id" data-target="#updateProductModal">Edit</button>
                    <button style=" background-color:red; border-color:red" class="btn btn-primary btn-circle" type="button" data-toggle="modal" data-target="#deleteProductModal" rel="@item.Id">Delete</button>
                </td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td class="center">@item.Category</td>
                <td class="center">@item.Manufacturer</td>
                <td class="center">@item.Supplier</td>
                <td class="center">@item.Price</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        //Add New
        $('#newProductModal').on('shown.bs.modal', function (e) {
            var url = '@Url.Action("ProductDetails", "Products")';
            $.get(url, function (response) {
                $('#modalContentToLoad').html(response);
            });
        });

        $("#newProductModal").on("submit", "#form-addNew", function (e) {
            e.preventDefault();  // prevent standard form submission

            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),
                data: form.serialize(),
                success: function () {
                    $('#newProductModal').modal('hide');
                },
                error: function (response) {
                    alert("Product with that name already exists !")
                }
            })
            $("#newProductModal").on('hidden.bs.modal', function () {
                window.location.reload(true)
            });
        });

    //Update
        $("#updateProductModal").on('shown.bs.modal', function (e) {
            var $target = $(e.relatedTarget);
            var productId = $target.attr('rel');
            var url = '@Url.Action("Update", "Products")' + '/' + productId;
            $.get(url, function (response) {
                $('#modalContentToLoadUpdate').html(response);
            });
         });

        $("#updateProductModal").on("submit", "#form-updateProduct", function (e) {
            e.preventDefault();  // prevent standard form submission

            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),  // post
                data: form.serialize(),
                success: function () {
                    $('#updateProductModal').modal('hide');
                },
                error: function (response) {
                    alert("Product with that name already exists !")
                }
            })
            $("#updateProductModal").on('hidden.bs.modal', function () {
                window.location.reload(true)
            });
        });

        //Delete
        $("#deleteProductModal").on('shown.bs.modal', function (e) {
            var $target = $(e.relatedTarget);
            var productId = $target.attr('rel');
            var url = '@Url.Action("Delete", "Products")' + '/' + productId;
            $.get(url, function (response) {
                $('#modalContentToLoadDelete').html(response);
            });
         });
    </script>
}
